<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3 jhiTranslate="settings.title" translateValues="{username: '{{settingsAccount.login}}'}" *ngIf="settingsAccount">User settings for [<b>{{settingsAccount.login}}</b>]</h3>

            <div class="alert alert-success" *ngIf="success" jhiTranslate="settings.messages.success">
                <strong>Settings saved!</strong>
            </div>

            <jhi-alert-error></jhi-alert-error>

            <form name="form" role="form" (ngSubmit)="save()" #settingsForm="ngForm" *ngIf="settingsAccount" novalidate>
                <div class="form-group">
                    <label class="form-control-label" for="firstName" jhiTranslate="settings.form.login">Login</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="{{'settings.form.login.placeholder' | translate}}"
                           [(ngModel)]="settingsAccount.login" minlength=1 maxlength=50 #loginInput="ngModel" required>
                    <div *ngIf="loginInput.dirty && loginInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="loginInput.errors.required" jhiTranslate="settings.messages.validate.firstname.required">
                            Your login is required.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="loginInput.errors.minlength" jhiTranslate="settings.messages.validate.firstname.minlength">
                            Your login is required to be at least 3 characters.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="loginInput.errors.maxlength" jhiTranslate="settings.messages.validate.firstname.maxlength">
                            Your login cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="firstName" jhiTranslate="settings.form.firstname">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="{{'settings.form.firstname.placeholder' | translate}}"
                           [(ngModel)]="settingsAccount.firstName" minlength=1 maxlength=50 #firstNameInput="ngModel" required>
                    <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="firstNameInput.errors.required" jhiTranslate="settings.messages.validate.firstname.required">
                            Your first name is required.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="firstNameInput.errors.minlength" jhiTranslate="settings.messages.validate.firstname.minlength">
                            Your first name is required to be at least 1 character.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="firstNameInput.errors.maxlength" jhiTranslate="settings.messages.validate.firstname.maxlength">
                            Your first name cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="lastName" jhiTranslate="settings.form.lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="{{'settings.form.lastname.placeholder' | translate}}"
                           [(ngModel)]="settingsAccount.lastName" minlength=1 maxlength=50 #lastNameInput="ngModel" required>
                    <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="lastNameInput.errors.required" jhiTranslate="settings.messages.validate.lastname.required">
                            Your last name is required.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="lastNameInput.errors.minlength" jhiTranslate="settings.messages.validate.lastname.minlength">
                            Your last name is required to be at least 1 character.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="lastNameInput.errors.maxlength" jhiTranslate="settings.messages.validate.lastname.maxlength">
                            Your last name cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email" jhiTranslate="global.form.email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                           [(ngModel)]="settingsAccount.email" minlength="5" maxlength="100" #emailInput="ngModel" email required>
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.required" jhiTranslate="global.messages.validate.email.required">
                            Your email is required.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.email" jhiTranslate="global.messages.validate.email.invalid">
                            Your email is invalid.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.minlength" jhiTranslate="global.messages.validate.email.minlength">
                            Your email is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.maxlength" jhiTranslate="global.messages.validate.email.maxlength">
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="voie" jhiTranslate="global.form.voie">Voie</label>
                    <input type="text" class="form-control" id="voie" name="voie" placeholder="{{'settings.form.voie.placeholder' | translate}}"
                           [(ngModel)]="settingsAccount.voie" minlength=1 maxlength=50 #voieInput="ngModel">
                    <div *ngIf="voieInput.dirty && voieInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="voieInput.errors.minlength" jhiTranslate="settings.messages.validate.voie.minlength">
                            Street is required to be at least 1 character.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="voieInput.errors.maxlength" jhiTranslate="settings.messages.validate.voie.maxlength">
                            Street cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="complement" jhiTranslate="global.form.complement">Complement</label>
                    <input type="text" class="form-control" id="complement" name="complement" placeholder="{{'settings.form.complement.placeholder' | translate}}"
                           [(ngModel)]="settingsAccount.complement" minlength=1 maxlength=50 #complementInput="ngModel">
                    <div *ngIf="complementInput.dirty && complementInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="complementInput.errors.minlength" jhiTranslate="settings.messages.validate.complement.minlength">
                            Additional is required to be at least 1 character.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="complementInput.errors.maxlength" jhiTranslate="settings.messages.validate.complement.maxlength">
                            Additional cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="codePostal" jhiTranslate="global.form.codePostal">Code Postal</label>
                    <input type="text" class="form-control" id="codePostal" name="codePostal" placeholder="{{'settings.form.codePostal.placeholder' | translate}}"
                           [(ngModel)]="settingsAccount.codePostal" minlength=1 maxlength=50 #codePostalInput="ngModel">
                    <div *ngIf="codePostalInput.dirty && codePostalInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="codePostalInput.errors.minlength" jhiTranslate="settings.messages.validate.codePostal.minlength">
                            Post Code is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="codePostalInput.errors.maxlength" jhiTranslate="settings.messages.validate.codePostal.maxlength">
                            Post Code cannot be longer than 5 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="ville" jhiTranslate="global.form.ville">Ville</label>
                    <input type="text" class="form-control" id="ville" name="ville" placeholder="{{'settings.form.ville.placeholder' | translate}}"
                           [(ngModel)]="settingsAccount.ville" minlength=1 maxlength=50 #villeInput="ngModel">
                    <div *ngIf="villeInput.dirty && villeInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="villeInput.errors.minlength" jhiTranslate="settings.messages.validate.ville.minlength">
                            City name is required to be at least 2 characters.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="villeInput.errors.maxlength" jhiTranslate="settings.messages.validate.ville.maxlength">
                            City name cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="telephone" jhiTranslate="global.form.telephone">Telephone</label>
                    <input type="text" class="form-control" id="telephone" name="telephone" placeholder="{{'settings.form.telephone.placeholder' | translate}}"
                           [(ngModel)]="settingsAccount.telephone" minlength=1 maxlength=50 #telephoneInput="ngModel">
                    <div *ngIf="telephoneInput.dirty && telephoneInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="telephoneInput.errors.minlength" jhiTranslate="settings.messages.validate.telephone.minlength">
                            Phone Number is required to be at least 10 characters.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="telephoneInput.errors.maxlength" jhiTranslate="settings.messages.validate.telephone.maxlength">
                            Phone Number cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group" *ngIf="languages && languages.length > 0">
                    <label for="langKey" jhiTranslate="settings.form.language">Language</label>
                    <select class="form-control" id="langKey" name="langKey" [(ngModel)]="settingsAccount.langKey">
                        <option *ngFor="let language of languages" [value]="language">{{language | findLanguageFromKey}}</option>
                    </select>
                </div>
                <button type="submit" [disabled]="settingsForm.form.invalid" class="btn btn-primary" jhiTranslate="settings.form.button">Save</button>
            </form>
            <br><br>
        </div>
    </div>
</div>
