<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myStagiaireLabel" jhiTranslate="factoryApp.stagiaire.home.createOrEditLabel">Create or edit a Stagiaire</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!stagiaire.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="stagiaire.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.stagiaire.niveau" for="field_niveau">Niveau</label>
            <select class="form-control" name="niveau" [(ngModel)]="stagiaire.niveau" id="field_niveau" >
                <option value="DEBUTANT">{{'factoryApp.NiveauEnum.DEBUTANT' | translate}}</option>
                <option value="INTERMEDIAIRE">{{'factoryApp.NiveauEnum.INTERMEDIAIRE' | translate}}</option>
                <option value="AVANCE">{{'factoryApp.NiveauEnum.AVANCE' | translate}}</option>
            </select>
        </div>

        <div class="form-group">
            <label jhiTranslate="factoryApp.stagiaire.ordinateurs" for="field_ordinateurs">Ordinateurs</label>
            <select class="form-control" id="field_ordinateurs" multiple name="ordinateurs" [(ngModel)]="stagiaire.ordinateurs">
                <option [ngValue]="getSelected(stagiaire.ordinateurs, ordinateurOption)" *ngFor="let ordinateurOption of ordinateurs; trackBy: trackOrdinateurById">{{ordinateurOption.code}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="factoryApp.stagiaire.formation" for="field_formation">Formation</label>
            <select class="form-control" id="field_formation" name="formation" [(ngModel)]="stagiaire.formation" >
                <option [ngValue]="null"></option>
                <option [ngValue]="formationOption.id === stagiaire.formation?.id ? stagiaire.formation : formationOption" *ngFor="let formationOption of formations; trackBy: trackFormationById">{{formationOption.nom}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
