<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-ld-4">
        <span class="home img-fluid"></span>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-8 col-ld-8">
        <h3 jhiTranslate="home.title">Trainings</h3>
        <!-- <h1 class="display-4" jhiTranslate="home.title">AJC Trainings</h1> -->
        <p class="lead" jhiTranslate="home.subtitle">Formers and Trainings Management</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                    translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">
                    You don't have an account yet ?
                </span>
                <a class="alert-link" routerLink="register" routerLinkActive="active">
                    <span jhiTranslate="global.messages.info.register.link">Register</span>
                </a>
            </div>
        </div>

        <div>
            <p jhiTranslate="home.question">If you have any question on Factory trainings :</p>
            <div>
                <ul>
                    <li>
                        <a href="http://www.ajc-ingenierie.fr/" target="_blank" rel="noopener" jhiTranslate="home.link.homepage">Factory homepage</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/ajc_ingenierie?lang=fr" target="_blank" rel="noopener" jhiTranslate="home.link.follow">follow @Factory on Twitter</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
